:root {
    --elden-gold: rgb(224,191,108);
}

body {
    width: 100%;
    height: 100vw;
    margin: 0;
    /* background-color: darkslategray; */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:antiquewhite;
    background-image: url("https://images4.alphacoders.com/115/thumb-1920-1151249.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1, p {
    text-align: center;
    margin: 1em auto;
    color:var(--elden-gold);
    
}

form {
    width: 70vw;
    max-width:700px;
    min-width:400px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.center-frame {
    background-color: #203333f8;
    width: 70vw;
    max-width:700px;
    min-width:400px;
    margin: 1em auto;
    padding: 1em;
    margin-top: 9em;
}

fieldset {
    border: none;
      padding: 0.5rem 0;
  }

fieldset:not(:last-of-type) {
    border-bottom: solid 3px black;
}

label {
    display:block;
    margin: 1rem 0;
}

input {
    padding: 0.25em 0.55em;
    margin-left: 1em;

}

#description {
    font-size:14px;
}

textarea {
    margin-top: 1em;
}

.input-block {
    width: inset;
}

[type="checkbox"] {
    vertical-align: middle;
}